
body {
    background: url("/src/img/fond-entretient.png") no-repeat center fixed; 
	background-size: cover;
}


.box .return {

  color: #970000;
  font-family: monospace;
  
}




#forms {
  width: 70%;
  align: center;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin-top: 6%;
  margin-left: 10%;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
}

#logo {
  align: center;
  margin-top: 5%;
  margin-left: 35%;
  width: 30%;

}


.box {
  background-color: white;
  width: 350px;
  height: 380px;
  border: 2px solid black;
  margin-top: 8%;
  margin-left: 7%;
}

body {
	margin: 0;
}

input[type=submit] {
  width: 40%;
  height: 12%;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin-top: 5%;
  margin-left: 52%;
  border: 2px solid black;
  cursor: pointer;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #D3D3D3;
}

