

    a{
        text-decoration: none;
        color: white;
    }
    
    .navbar{
        list-style: none;
        display: inline-block;
        padding: 15px 45px;
    
    }
    
    .navbar_home{
    
        list-style: none;
        display: inline-block;
        padding: 15px 25px;
    
    
    }
    
    .sous{
    
        display: none;
        background-color: white;
        position: absolute;
    
    
    }
    
    .sous li{
    
        float: none;
        width: 200%;
        text-align: left;
        list-style: none;
        padding: 10px;
        margin-left: -45px;
        background-color: black;
    
    }
    .login{

        padding: 14px 40px;
        background-color: white;
        color: black;
        border: 2px solid black;
        float: right;
        margin: 30px;
        transition-duration: 0.4s;
    } 
    .login:hover{

        background-color: black;
        color: rgb(255, 204, 0);
    }

    .return {
        color: #970000;
        font-family: monospace;
        margin-top: 5%;
        font-size: 150%;

    }
    
    .Search{
        margin-left: 80%;
    }
    
    nav > ul li:hover .sous{
    
        display: block;
        
    
    }
    
    ul{
        background-color: black;
    }
    

    
    .content{
        margin-top: 4%;
        display: grid;
        padding-top: 1%;
        margin-bottom: 10%;
        width: 74%;
        margin-left: 1%;
    }
    
    
    .information{
        display: grid;
        border: solid;
    }
    
    .button{
        display: grid;
        grid-column: 2;
        padding-left: 20%;
        padding-right: 40%;
    }
    
    .input_info{
        grid-column: 2;
        padding-bottom: 5%;
   

    }
    
    .input_add{
        grid-column: 3;
        grid-row: 1;
        margin-top: 50%;
    }
    
    
    .space_info{
        margin-top: 3%;
    }
    .filter{
        border: solid;
        display: grid;
        float: right;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 8%;
        padding: 0.5%;
    }
    .SupprimerBouton{
        grid-row: 20;
      }
      .ModifierBouton{
        grid-row: 10;
      }
      .WishlistBouton{
        grid-row: 1;
      }
    
    @media screen and (max-width: 870px) {

      .profilephoto{
        margin-top: 0%;
      }
      .input_info{
        margin-left: 10%;
        margin-top: -16%;
        grid-column: 1;
      }
      .input_add{
        margin-left: 0%;
        margin-top: 10%;
        grid-column: 1;
        grid-row: 3;
    
      }
      .button{
        padding-left: 0%;
        padding-right: 0%;
        grid-column: 1;
        grid-row: 2;
      }
      .space_info{
        margin-top: 5%;
      }
      .Search{
        margin-left: 0%;
      }
      .filter{
        float: left;
      }
      .DeleteButton{
        grid-row: 1;
      }
      .ModifyButton{
        grid-row: 1;
      }
      .WishlistButton{
        grid-row: 1;
      }
    }
	
	body {
		margin: 0;
	}
	
	footer{

		background-color: black;
		display: flex;
		justify-content: center;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		font-family: monospace;


	}
	
	.filter .filterButton{
		text-align: center;
		border: none;
		border-bottom: solid;
		margin-top: 4%;
		padding-bottom: 4%;
		background-color: white;
	}
	
	.filter .filterButton:hover{
		color: #BD9200;
	}
	body #return {

		color: #970000;
		font-family: monospace;
		margin-top: 5%;
		font-size: 150%;
	  
	}
	
    
    
